*{
padding: 0px;
margin: 0px;
box-sizing: border-box; 
font-weight: 400;
font-size: 13px;

}


:root {
 
--amarelo_principal:  #EFED52;
  
--amarelo_gradiente: radial-gradient(
rgba(239, 237, 82, 1),
rgba(255, 255, 255, 0)
);
 



  
}
